{% extends "base.html" %}

{% block title %}Редактировать Квиз-Пак{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-header text-center">
            <div class="panel-title h5 mt-10">Редактировать Квиз-Пак: "{{ quiz_pack.title }}"</div>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('admin_edit_quiz_pack', quiz_id=quiz_pack.id) }}" method="POST" class="form-horizontal">
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="title">Название квиз-пака</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <input class="form-input" type="text" id="title" name="title" value="{{ quiz_pack.title }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3 col-sm-12">
                        <label class="form-label" for="description">Описание</label>
                    </div>
                    <div class="col-9 col-sm-12">
                        <textarea class="form-input" id="description" name="description">{{ quiz_pack.description }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <a href="{{ url_for('admin_dashboard') }}">Вернуться к админ-панели</a>
        </div>
    </div>
{% endblock %}